In [ ]:
import pandas as pd
import zipfile
from pathlib import Path
from kaggle.api.kaggle_api_extended import KaggleApi

api = KaggleApi()
api.authenticate()

In [11]:
dataset = 'grouplens/movielens-20m-dataset'
DATA_PATH = Path("../data")
DATA_PATH.mkdir(parents=True, exist_ok=True)

In [13]:
api.dataset_download_files(dataset, path=DATA_PATH, unzip=False )

Dataset URL: https://www.kaggle.com/datasets/grouplens/movielens-20m-dataset

In [22]:
zip_path = DATA_PATH/"movielens-20m-dataset.zip"

def get_preview(file_name, n=100):
    with zipfile.ZipFile(zip_path, 'r') as z:
        with z.open(file_name) as f:
            return pd.read_csv(f, nrows=n)

df_movie = get_preview('movie.csv')
df_rating = get_preview('rating.csv')
df_link = get_preview('link.csv')
df_tag = get_preview('tag.csv')
df_genome_scores = get_preview('genome_scores.csv')
df_genome_tags = get_preview('genome_tags.csv')

userId        int64
movieId       int64
tag          object
timestamp    object
dtype: object

In [29]:
print(df_movie.head())
print(df_movie.dtypes)

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
movieId     int64
title      object
genres     object
dtype: object

In [30]:
print(df_rating.head())
print(df_rating.dtypes)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40
userId         int64
movieId        int64
rating       float64
timestamp     object
dtype: object

In [31]:
print(df_link.head())
print(df_link.dtypes)

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862
movieId    int64
imdbId     int64
tmdbId     int64
dtype: object

In [32]:
print(df_tag.head())
print(df_tag.dtypes)

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18
userId        int64
movieId       int64
tag          object
timestamp    object
dtype: object

In [33]:
print(df_genome_scores.head())
print(df_genome_scores.dtypes)

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675
movieId        int64
tagId          int64
relevance    float64
dtype: object

In [34]:
print(df_genome_tags.head())
print(df_genome_tags.dtypes)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
tagId     int64
tag      object
dtype: object